body {
	font-family: Arial, 微软雅黑, 黑体, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

#header {
	color: white;
	font-size: 1.5em;
	background-color: black;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	text-align: center;
	padding: 15px;
}

#main {
	z-index: 0;
}

form {
	margin: 0;
	position: relative;
	padding-top: 60px;
}

form#asdas-form {
	background-color: #00bfba;
	height: 480px;
}

#prev-q-button {
	position: fixed;
	left: 0;
	top: 80px;
	width: 60px;
	height: 60px;
	color: white;
	z-index: 2;
}

#prev-q-button div, .control-panel .display div, table.keypad td div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.asdas-question {
	color: white;
	padding: 0 60px;
	margin: 0;
	border: none;
}

.asdas-question .title {
	font-size: 1.3em;
}

.asdas-question .desc {
	font-size: 1.1em;
}

.asdas-question .hint {
	font-size: 0.9em;
}

.control-panel {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 1;
}

.control-panel .display {
	width: 100%;
	position: relative;
	font-size: 40px;
	color: #00bfba;
	background-color: #f6f6f6;
}

#control-panel-0 .display {
	height: 80px;
}

table.keypad {
	width: 100%;
	margin: auto;
	border-spacing: 0;
}

table.keypad td { /* key piece */
	border: solid #c0c0c0 1px;
	width: 25%;	
	position: relative;
	background-color: white;
	font-size: 30px;
	color: #666666;
}
 
table.keypad td:before { /* set height of key piece according to its width */
	content: "";
	display: block;
	padding-top: 100%;
} 

#control-panel-1 .upper-panel {
	background-color: #f6f6f6;
	padding: 10px;
}

#crp-esr-buttons {
	background-color: #f6f6f6;
	height: 32px;
	width: 100%;
	z-index: 2;
	overflow: visible;
}

#crp-esr-buttons .button {
	border: solid #00bfba 1px;
	color: #00bfba;
	display: inline-block;
	padding: 5px;
	margin: 0;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 33.33%;
}

#crp-esr-buttons .button:first-of-type {
	border-radius: 8px 0 0 8px;
	border-right: none;
}

#crp-esr-buttons .button:last-of-type {
	border-radius: 0 8px 8px 0;
	border-left: none;
}

#crp-esr-buttons input[type="radio"] {
	display: none;
}

#crp-esr-buttons input[type="radio"]:checked + .button {
	color: white;
	background-color: #00bfba;
}

#control-panel-1 .display {
	height: 44px;
}

#clear-button {
	position: absolute;
	right: 20px;
	top: 70px;
	z-index: 2;
}

.big-caption {
	font-size: 2em;
	margin: 0;
	padding: 0;
}

#result-backdrop {
	padding: 30px;
}

form#asdas-result-panel {
	position: relative;
}

table#questions-summary {
	background-color: lightgrey;
	width: 100%;
	padding: 5px 20px;
}

table#questions-summary td {
	padding: 5px;
}

#questions-summary  .q {
	text-align: left;
}

#questions-summary .a {
	text-align: right;
}

#asdas-result {
	font-size: 4em;
	margin: 0;
	padding: 0;
}

table#asdas-activity {
	font-size: 0.7em;
	border-spacing: 0;
	border-collapse: separate;
    width: 100%;
	margin: auto;
	padding: 0;
}

#asdas-activity td {
	margin: 0;
	padding: 10px;
}
 
#markers {
	height: 30px;
}

.asdas-marker {
	float: left;
	position: absolute;
	text-align: center;
	transform: translate(-50%, 8px);
	-webkit-transform: translate(-50%, 8px);
	-ms-transform: translate(-50%, 8px);
	font-size: 14px;
}

#improvement {
	margin: 20px;
}

#recalculate-button {
	color: white;
	background-color: #00bfba;
	width: 90%;
	font-family: "黑体", sans-serif;
	border-style: none;
	border-radius: 8px;
	padding: 15px 32px;
	margin: 10px;
	text-align: center;
	font-size: 1.2em;
	cursor: pointer;
}
