body {
	font-family: 黑体, arial, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

h1 {
	//position: fixed;
	top: 0;
}

form {
	margin: 0;
}

fieldset {
	background-color: DarkBlue;
	color: white;
	margin: 0;
	border: none;
}

fieldset .title {
	font-size: 1.5em;
}

fieldset .desc {
	font-size: 1em;
}

fieldset .hint {
	font-size: 0.7em;
}

button {
	color: white;
	background-color: DarkBlue;
	border-style: none;
	padding: 15px 32px;
	margin: 4px 2px;
	text-align: center;
	font-size: 1.2em;
	cursor: pointer;
}

.big-caption {
	font-size: 2em;
	margin: 0;
	padding: 0;
}

#asdas-result-panel .main {
	position: relative;
	padding: 0;
	margin: 50px 0;
}

#asdas-result {
	font-size: 3em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

table#asdas-activity {
	font-size: 0.7em;
	border-spacing: 0;
	border-collapse: separate;
	margin: auto;
	pading: 0;
}

#asdas-activity td {
	margin: 0;
	padding: 10px;
}

.asdas-activity-0 {
	background-color: #ffff33;
}

.asdas-activity-1 {
	background-color: #ffaa33;
}

.asdas-activity-2 {
	background-color: #ff5533;
}

.asdas-activity-3 {
	background-color: #ff0033;
}

.asdas-marker {
	float: left;
	position: absolute;
	text-align: center;
}
